body {
	max-width : 700px ;
	width : 100% ;
	text-align : center ;
	margin : auto;
}

header {
    margin-bottom: 5%;
}
h1 {
    text-transform: uppercase;
    text-decoration: underline;
}

#new-todo h4, #new-todo input {
    display: inline-block;
}
#new-todo input {
    margin-left: 3%;
}

#todo-list, #list-completed {
    margin-top: 5%;
}
ul {
    list-style-type: none;
}

hr {
    width: 80%;
}

button {
    cursor: pointer;
}
